.alert{
  border-radius: 10px;
  border: 1px solid #555;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 30px 10px 10px;
  position: relative;
  font-size: 14px;
  margin-bottom: 20px;
}
.alert.theme-primary{
  border-color: var(--primary);
  color: var(--primary);
}
.alert.theme-success{
  border-color: var(--success);
  color: var(--success);
}
.alert.theme-info{
  border-color: var(--info);
  color: var(--info);
}
.alert.theme-warning{
  border-color: var(--warning);
  color: var(--warning);
}
.alert.theme-danger{
  border-color: var(--danger);
  color: var(--danger);
}
.alert .close{
  position: absolute;
  right: 0;
  top: 0;
}
.alert .close button {
  cursor: pointer;
  font-size: 18px;
  padding: 8px 10px;
  border: none;
  background-color: transparent;
}
.alert .close button:hover{
  color: var(--danger);
}